{% load django_htmx %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - Chifleta</title>
  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock styles %}
</head>
<body>
  {% block content %}{% endblock content %}
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.3" defer></script>
</body>
</html>