:root {
  --visible-border: 1px solid #999;
  --padding-base: 40px;
  --black-color: #111;
  --white-color: #eee;
  --primary-color: #45e;
  --secondary-color: #19e;
  --error-color: #d55;
  --transition-base: all 0.3s ease-in-out;
}

body {
  background-color: var(--white-color);
}

.container {
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  border-left: var(--visible-border);
  border-right: var(--visible-border);
}

.footer {
  padding: var(--padding-base);
  text-align: center;
}