.error {
  background-color: var(--error-color);
  padding: var(--padding-base);
  border-bottom: var(--visible-border);
  color: var(--white-color);
}
.error__close {
  float: right;
  cursor: pointer;
}