.form {
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  border-bottom: var(--visible-border);
  background-color: var(--background-color);
}
.form--without-border {
  border-bottom: none;
}
.form__title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 12px;
  margin-bottom: 12px;
}
.form__field {
  width: 100%;
  margin-bottom: 40px;
}
.form__label {
  display: block;
  margin-bottom: 8px;
}
.form__input {
  width: 100%;
  background-color: var(--form-button-color);
  padding: 18px;
  border-radius: 12px;
  border: 1px solid var(--text-secondary-color);
  transition: var(--transition-base);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}
.form__submit {
  width: 100%;
  background-color: var(--background-button-color);
  padding: 20px;
  border-radius: 12px;
  color: var(--text-button-color);
  margin-bottom: 20px;
  transition: var(--transition-base);
}
.form__submit:hover {
  background-color: var(--primary-color);
}
.form__question-link {
  color: var(--secondary-color);
  text-decoration: none;
}
.form__question-link:hover {
  text-decoration: underline;
}
