.notification-title {
  padding: var(--padding-base);
  border-bottom: var(--visible-border);
  font-size: 2rem;
  font-weight: 800;
}
.notification{
  padding: var(--padding-base);
  border-bottom: var(--visible-border);
  transition: var(--transition-base);
}
.notification:hover {
  cursor: pointer;
  background-color: var(--background-hover-color);
}

.notification__type{
  margin-bottom: 8px;
}

.notification__date{
  font-weight: 200;
  font-size: 0.75rem;
}
.notification__profile {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 800;
  margin-right: 8px;
  transition: var(--transition-base);
}
.notification__profile:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.notification__content{
  background-color: var(--background-hover-color);
  padding: 8px;
  border-radius: 8px;
  border: var(--visible-border)
}