.posts {
  display: flex;
  position: fixed;
  flex-direction: column;
}
.posts__parent {
  display: block;
  padding: 1px;
  background: linear-gradient(#aaa,#eee);
}

.post {
  background-color: var(--background-color);
  border-bottom: var(--visible-border);
  padding: var(--padding-base);
  text-decoration: none;
  color: var(--text-color);
  transition: var(--transition-base);
  cursor: pointer;
}

.post--node {
  background-color: var(--background-color);
  margin: var(--padding-base);
  margin-left: 40px;
  border-radius: 8px;
  border: var(--visible-border);
}
.post:hover {
  background-color: var(--background-hover-color);
}
.post__info {
  margin-bottom: 1.5rem;
}
.post__info--share {
  background-color: var(--background-color);
  padding: 8px;
  border-radius: 8px;
  border: var(--visible-border);
}
.post__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 2rem;
}
.post__title {
  display: flex;
}
.post__user {
  font-size: 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 800;
  margin-right: 8px;
  transition: var(--transition-base);
}
.post__user:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.post__date {
  font-size: .75rem;
  font-weight: 200;
  color: #888;
}
.post__content {
  overflow-wrap: break-word;
  text-wrap: balance;
}
.post__stats {
  display: flex;
}
.post__stat {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.post__button {
  color: var(--text-color);
  transition: var(--transition-base);
  background: none;
}

.post__button:hover,
.post__button--selected {
  color: var(--secondary-color);
}
.post__stat-value {
  margin-left: 12px;
  min-width: 40px;
}
.post__extras {
  display: flex;
  align-items: center;
}
.post__menu {
  display: flex;
}
.post__comments {
  padding: var(--padding-base);
  border-bottom: var(--visible-border);
  text-align: center;
}
.post__empty {
  height: 80vh;
}