<div
  {% if autofocus %}
    x-init="$el.scrollIntoView({ behavior: 'smooth', block: 'center' })"
  {% endif %}
  class="post {% if is_node %}post--node{% endif %}"
  @click="window.location.href = '{% url 'post' post.id %}'">
  <div class="post__info">
    <div class="post__header">
      <div class="post__title">
        <a class="post__user"
          href="{% url 'user' post.profile.user %}"
          @click.stop="">{{post.profile.user}}
        </a>
        <p class="post__date">{{post.created_at|date:"d/M/Y"}}</p>
      </div>
      {% if not hide_buttons %}
      <div class="post__menu">
        <button
          class="post__button"
          @click.stop="navigator.clipboard.writeText('{{request.get_host}}{% url 'post' post.id %}')">
          <i class="material-icons">link</i>
        </button>
        {% if post.profile.user == request.user %}
        <a class="post__button" href="{% url 'delete_post' post.id %}" @click.stop="">
          <i class="material-icons">delete</i>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% if is_node %}
      <pre class="post__content">{{post.content|truncatewords:10}}</pre>
    {% else %}
      <pre class="post__content">{{post.content}}</pre>
    {% endif %}
    
  </div>
  {% if post.share %}
  <div
    class="post__info post__info--share"
    @click.stop="window.location.href = '{% url 'post' post.share.id %}'">
    <div class="post__header">
      <div class="post__title">
        <a
          class="post__user"
          href="{% url 'user' post.share.profile.user %}"
          @click.stop="">{{post.share.profile.user}}
        </a>
        <p class="post__date">{{post.share.created_at|date:"d/M/Y"}}</p>
      </div>
    </div>
    {% if is_node %}
      <pre class="post__content">{{post.share.content|truncatewords:10}}</pre>
    {% else %}
      <pre class="post__content">{{post.share.content}}</pre>
    {% endif %}
  </div>
  {% endif %}
  {% if not hide_buttons %}
  <div class="post__stats" x-data="{likes: {{post.likes_count}}}">
    <div class="post__stat">
      <div hx-trigger="load" hx-get="{% url 'like' post.id %}" hx-swap="outerHTML"></div>
      {% if request.user.is_authenticated %}
        <p class="post__stat-value" x-text="likes"></p>
      {% else %}
        <p class="post__stat-value">{{post.likes_count}}</p>
      {% endif %}
    </div>
    <div class="post__stat">
      <button class="post__button"
        type="button"
        @click.stop=""
        hx-trigger="click"
        hx-get="{% url 'post_comment' post.id %}"
        hx-swap="innerHTML"
        hx-target="#post-{{post.id}}-{{target_type}}">
        <i class="material-icons">comment</i>
      </button>
      <p class="post__stat-value">{{post.comments_count}}</p>
    </div>
    <div class="post__stat">
      <button class="post__button"
        type="button"
        @click.stop=""
        hx-trigger="click"
        hx-get="{% url 'post_share' post.id %}"
        hx-swap="innerHTML"
        hx-target="#post-{{post.id}}-{{target_type}}">
        <i class="material-icons">share</i>
      </button>
      <p class="post__stat-value">{{post.shares_count}}</p>
    </div>
  </div>
  {% endif %}
</div>
<div id="post-{{post.id}}-{{target_type}}"></div>