{% extends "layouts/base.html" %}
{% load static %}

{% comment %}
  Nota: asegurarse que los posts sean padres y no hijos!!!
  Contexto:
  list posts -> ordenado por fecha, cada post debe contener la información del modelo Post
{% endcomment %}

{% block title %}
  Feed
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock styles %}

{% block content %}
<main>
  <section class="posts">
    {% if posts %}
      {% for post in posts %}
        {% include "includes/post.html" %}
      {% endfor %}
    {% else %}
    <p class="posts__empty">No hay posts para mostrar.</p>
    {% endif %}
  </section>
</main>
{% endblock content %}