{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
  Inicio de sesión
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/error.css' %}" >
  <link rel="stylesheet" href="{% static 'css/form.css' %}" >
{% endblock styles %}

{% block content %}
<main>
  {% include "includes/error.html" %}
  <form class="form" method="post">
    <h1 class="form__title">Inicio de Sesión</h1>
    {% csrf_token %}
    <div class="form__field">
      <label class="form__label" for="username">Usuario</label>
      <input
        class="form__input"
        type="text"
        name="username"
        placeholder="Ingresa tu usuario"
        required
      />
    </div>

    <div class="form__field">
      <label class="form__label" for="password">Contraseña</label>
      <input
        class="form__input"
        type="password"
        name="password"
        placeholder="Ingresa tu contraseña"
        required
      />
    </div>

    <button class="form__submit" type="submit">Iniciar sesión</button>
    
    <p class="form__question">
      ¿No tienes una cuenta?
      <a class="form__question-link" href="{% url 'register' %}">
        Regístrate
      </a>
    </p>
  </form>
</main>
{% endblock content %}
