{% extends "layouts/base.html" %}
{% load static %}

{% comment %}
  Contexto:
  list[Post]: parent_posts // ordenado por padre-hijo
  Post: post // objeto post a ver
  list[Post]: comments // posts que sean comentarios del post a ver
{% endcomment %}

{% block title %}
  {{ post.profile }}
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock styles %}

{% block content %}
<main>
  <section>
  {% if parent_posts %}
    {% for post in parent_posts %}
      {% include "includes/post.html" %}
    {% endfor %}
  {% endif %}

  {% include "includes/post.html" %}
  
  {% if comments %}
    {% for post in comments %}
      {% include "includes/post.html" %}
    {% endfor %}
  {% endif %}
  </section>

</main>
{% endblock content %}