{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
  Búsqueda
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/posts.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock styles %}

{% block content %}
<main x-data="{open:'posts'}">
  <section>
    <h1 class="search__title">Resultado de Búsqueda</h1>
    <div class="search__nav">
      <a
        class="search__button search__button--right-border"
        @click="open='posts'"
        :class = "open=='posts' ? 'search__button--actived':''" >
        Posts
      </a>
      <a 
        class="search__button" @click="open='profiles'" 
        :class = "open=='profiles' ? 'search__button--actived':''">
        Perfiles
      </a>
    </div>
  </section>
  <section x-show="open=='posts'">
    {% for post in posts %}
      {% include "includes/post.html" %}
    {% endfor %}
  </section>
  <section x-show="open=='profiles'">
    {% for profile in profiles %}
      <div>
        <span>
          {{profile.created_at}}
        </span>
        <a href="{% url 'user' profile.user %}">{{profile.user.username}}</a>
        <p>{{profile.user.first_name}}</p>
        <p>{{profile.user.last_name}}</p>
      </div>
    {% endfor %}
  </section>
</main>


{% endblock content %}