{% extends "layouts/base.html" %}
{% load static %}

{% comment %}
  Contexto:
  User user
  Profile profile
{% endcomment %}

{% block title %}
  {{user.username}}
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock styles %}

{% block content %}
<main>
  {% if request.user.is_authenticated %}
    {% include "includes/error.html" %}
  {% endif %}
  <section class="user">
    <div class="user__info">
      <h1 class="user__username">{{user.username}}</h1>
      <h2 class="user__fullname">{{user.first_name}} {{user.last_name}}</h2>
      <pre class="user__bio">{{profile.bio}}</pre>
    </div>
    <div class="user__followers">
      <p class="user__follower-count"><strong>{{profile.followers_count}}</strong> seguidores</p>
      <p class="user__follower-count"><strong>{{profile.following_count}}</strong> seguidos</p>
    </div>
    {% if request.user.is_authenticated %}
    <div x-data="{open:false}">
      {% if user.username == request.user.username %}
      <button class="user__button" type="button" @click="open=true">Editar perfil</button>
      {% else %}
      <div hx-trigger="load" hx-get="{% url 'follow_status' user.username %}" hx-swap="outerHTML"></div>
      {% endif %}
      <div class="modal" x-show="open">
        <div class="modal__content">
          <span class="modal__close" @click="open=false"><i class="material-icons">close</i></span>
          <form class="form" method="post" action="/update_user">
            <h1 class="form__title">Editar usuario</h1>
            {% csrf_token %}
            <div class="form__field">
              <label class="form__label" for="first_name">Nombre</label>
              <input class="form__input" type="text" name="first_name" placeholder="Escribe un nombre" value="{{user.first_name}}" required>
            </div>
            <div class="form__field">
              <label class="form__label" for="lastname_name">Apellido</label>
              <input class="form__input" type="text" name="last_name" placeholder="Escribe un apellido" value="{{user.last_name}}" required>
            </div>
            <div class="form__field">
              <label class="form__label" for="bio">Bio</label>
              <textarea class="form__input" type="text" name="bio"placeholder="Escribe una biografía" value="{{profile.bio}}" required></textarea>
            </div>
            <button class="form__submit" type="submit">Guardar</button>
          </form>
        </div>
      </div>
    </div>
    
    {% endif %}
  </section>
  
  <section class="posts">
    {% if posts %}
      {% for post in posts %}
        {% include "includes/post.html" %}
      {% endfor %}
    {% else %}
    <p class="posts__empty">No hay posts para mostrar.</p>
    {% endif %}
  </section>
</main>
{% endblock content %}