{% extends "layouts/base.html" %}
{% block title %}{{username}}{% endblock title %}
{% block content %}
{% comment %}
  Contexto:
  str username
  str first_name
  str last_name
  str bio
  str avatar
  int follower_count
  int following_count
{% endcomment %}
<main>
  <section>
    <a href="{% url 'delete_user' %}">delete_user</a>
    <div>
      <div>
        <h1>{{first_name}} {{last_name}}</h1>
        <p>{{username}}</p>
      </div>
      <img src="/media/{{avatar}}">
    </div>
    <p>{{bio}}</p>
    <div>
      <p>Seguidores {{follower_count}}</p>
      <p>Seguidos {{following_count}}</p>
    </div>
    {% comment %}
      TODO: Agregar url para user update
    {% endcomment %}
    <a href="#">Editar perfil</a>
  </section>
  <section>
    {% comment %}
      TODO: Agregar posts del usuario
    {% endcomment %}
  </section>
</main>
{% endblock content %}